.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  height: 10vh; /* Set the height of the navbar */
  position: fixed; /* Makes the navbar fixed at the top */
  top: 0;
  width: 100%; /* Ensures the navbar spans the full width of the viewport */
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.navbar-logo img {
  width: 6vh; /* Adjust the size of the logo */
  height: 6vh; /* Ensure height matches the width for a perfect circle */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circular area */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 20px; /* Adds space to the right side of the links */
}

.navbar-links li {
  margin-left: 20px;
  padding: 2vh;
  margin-right: 12px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #11d5ef; /* Change this to your desired hover color */
}

/* Adjust body padding to avoid content being hidden under the fixed navbar */
body {
  padding-top: 12vh; /* Adjusts the top padding to ensure no content is hidden under the navbar */
}
