.faq-container {
    width: 90%;
    margin: auto;
}

.faq-item {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question {
    font-size: 2em; /* Default size for larger screens */
    font-weight: bold;
    flex-grow: 1;
}

.faq-arrow {
    font-size: 2em;
    transition: transform 0.3s ease;
}

.faq-arrow.rotate {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 2em;
    margin-top: 10px;
}

.faq-answer.show {
    max-height: 200px; /* Adjust as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
    .faq-question {
        font-size: 1.3em; /* Slightly smaller text on tablets */
    }

    .faq-answer {
        font-size: 1.1em;
    }

    .faq-arrow {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .faq-question {
        font-size: 1.1em; /* Smaller text for mobile phones */
    }

    .faq-answer {
        font-size: 1em;
    }

    .faq-arrow {
        font-size: 1.1em;
    }
}
