/* ThirdContainer.css */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 50vh; /* Full viewport height */
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Optional padding for spacing */
    margin: 4px;
    
  }
  h1{
    color:#90EE90;
  }
  h2 {
    margin: 20px 20px; /* Add margin to ensure spacing between elements */
    font-size: 3vh;
    padding-left: 20vh ;
    padding-right: 20vh ;
    font-family: Poppins;

  }
  #container p {
    
    margin: 20px 20px; /* Add margin to ensure spacing between elements */
    font-size: 2vh;
    padding-left: 20vh ;
    padding-right: 20vh ;
  }
  #vision-container p {
    margin: 20px 20px; /* Add margin to ensure spacing between elements */
    font-size: 1vh;
    padding-left: 2vh ;
    text-align: left;
  }
  ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  .vision-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
    text-align: center;
}

.vision-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.vision-item:hover {
    transform: translateY(-10px);
}

.vision-item img {
    width: 50px; /* Adjust according to your design */
    height: auto;
    margin-bottom: 20px;
}

.vision-item h3 {
    font-size: 1.5em;
    color: #333; /* Customize for each section */
    margin-bottom: 10px;
}

.vision-item p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}
@media (max-width: 768px) {
  #container {
      padding: 10px;
      height: auto;
  }

  h2, #container p {
      font-size: 2.5vh; /* Reduce font size */
      padding-left: 5vh;
      padding-right: 5vh;
  }

  .vision-container {
      padding: 20px; /* Reduce padding */
      gap: 15px; /* Less space between grid items */
  }

  .vision-item {
      padding: 15px;
  }

  .vision-item h3 {
      font-size: 1.2em; /* Adjust font size */
  }

  .vision-item p {
      font-size: 0.9em; /* Adjust font size */
  }
}